@import '/home/sharpest/.cache/wal/colors-waybar.css';

* {
    border: none;
    border-radius: 4px;
    /* `ttf-font-awesome` is required to be installed for icons */
    font-family: "Roboto Mono Medium", Helvetica, Arial, sans-serif;
    /* adjust font-size value to your liking: */
    font-size: 10px;
    min-height: 0;
}

@keyframes blinkV2 {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

window#waybar {
	background: alpha(@background, 0.5);
	margin: 4px;
	border-radius: 100px;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
	color: @color15;
    /* transition-property: background-color; */
    /* transition-duration: .5s; */
    /* border-radius: 0; */
}

/* window#waybar.hidden {
    opacity: 0.2;
} */

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

/* window#waybar.termite {
    background-color: #000000;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
} */

#workspaces button {
    /* padding: 0 0.4em; */
    /* background-color: transparent; */
    color: @color16;
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: alpha(@background, 0.5);
    box-shadow: inset 0 -3px @color13;
}

#workspaces button.active {
    background-color: @color10;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    /* border-bottom: 3px solid #ffffff; */
}

#clock,
#battery,
#disk,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#custom-apps,
#custom-updates,
#mpd {
    padding: 0 10px;
    margin: 6px 3px; 
    color: #000000;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
	background: alpha(@background, 0.5);
	margin: 4px;
	border-radius: 100px;
	color: @color15;
}

#battery {
    background-color: #000000;
    color: @color15;
}

#battery.charging {
    color: @color15;
    background-color: #000000;
}

@keyframes blink {
    to {
        background-color: @color15;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#disk {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
  color: @color15;
}

#cputemp {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
  color: @color15;
}

#memory {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
    color: @color15;
}

#backlight {
    background-color: #000000;
    color:@color15;
}

#network {
    background-color: #000000;
    color:@color15;
}

#network.disconnected {
    background-color: #f53c3c;
}

#pulseaudio {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
    color: @color15;
}

#pulseaudio.muted {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
    color: orange;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    color: @color15;
}

#cpu {
    color: @color15;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 6px 3px;
    min-width: 16px;
}

#custom-apps {
	color: @color15;
	background: alpha(@background, 0.5);
	min-width: 42px;
	margin: 1px 1px;
	border-radius: 32px;
	padding: 0px 4px;
	transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-apps:hover {
  color: @background;
  background: @color10;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-power {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
  padding: 0px 0px 0px 10px;
  color: @color15;
}

#custom-power:hover {
  color: @background;
  background: @color10;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-updates {
  min-width: 24px;
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
  color: @color15;
}

    /* #custom-updates:hover {
  color: @background;
  background: @color10;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
} */

#custom-notification,
#custom-notification.dnd-notification {
  color: @color15;
  background: alpha(@background, 0.5);
  border-radius: 32px;
  margin: 4px;
  padding: 0px 10px 0px 10px;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-notification.notification {
  color: @color15;
  background: alpha(@background, 0.5);
  padding: 0px 10px 0px 10px;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
  animation: blinkV2 5s steps(64) infinite alternate;
}

#custom-notification.dnd-none {
  color: @color15;
  background: alpha(@background, 0.5);
  padding: 0px 10px 0px 11px;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-notification:hover,
#custom-notification.dnd-notification:hover,
#custom-notification.dnd-none:hover {
  color: @background;
  background: @color10;
  transition: all 0.3s cubic-bezier(0, 0.42, 0.58, 1);
}

#custom-weather {
  background: alpha(@background, 0.5);
  margin: 4px;
  border-radius: 100px;
  padding: 0px 10px 0px 10px;
  color: @color15;
}
