* {
  background-image: none;
  font-size: 12px;
  font-family: "JetBrainsMono Nerd Font";
}

@import "/home/sharpest/.cache/wal/colors-wlogout.css";

window {
  background-color: alpha(@background, 0.5);
}

button {
  color: @text-color;
  background-color: alpha(@background, 0.7);

  border: 12px solid @accent;
  border-width: 1px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 10%;

  box-shadow: none;
  text-shadow: 0px 0px 2px @accent;

  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

button:hover {
  background-color: @accent;
  background-size: 25%;
  border-radius: 16px;

  color: @text-color;
  text-shadow: 0px 0px 2px black;

  animation: gradient_f 20s ease-in infinite;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.28, 1.682);
}

#lock {
  background-image: image(url("./icons/lock_white.png"));
  border-radius: 12px;
  margin: 4px;
  padding: 0px;
  min-width: 64px;
}

#logout {
  background-image: image(url("./icons/logout_white.png"));
  border-radius: 12px;
  margin: 4px;
  padding: 0px;
  min-width: 64px;
}

#shutdown {
  background-image: image(url("./icons/shutdown_white.png"));
  border-radius: 12px;
  margin: 4px;
  padding: 0px;
  min-width: 64px;
}

#reboot {
  background-image: image(url("./icons/reboot_white.png"));
  border-radius: 12px;
  margin: 4px;
  padding: 0px;
  min-width: 64px;
}
