[Desktop Entry]
Type=Application
Name=Ledger Live
Comment=Launches the ledger live app
Icon=~/.local/share/applications/ledger.png
Terminal=false
Exec=/home/sharpest/.appimage/ledger-live.AppImage
Categories=Utility;
MimeType=inode/directory;
Keywords=File;Manager;Browser;Explorer;Launcher;Grapics

#	version:
#	2.91.0
